*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
header{
    width: 100vw;
    
}

header .titulo{
    text-align: center;
    color: whitesmoke;
    position: relative;
    
}
#botonIniciaSesion{
    padding: 5px;
    width: max-content;
    height: max-content;
    border-radius: 15px;
    background-color: rgb(62, 62, 60);
    margin-left: 85vw;
    color: white;

}
main{
    width: 100vw;
    height: auto;
}
.contenedorForm{
    display: flex;
    width: 100vw;
}
#idFormulario{
    height: 350px;
    width: 350px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer{
    width: 100vw;
    height: auto;
}
.textoInicioSesion{
    text-align: center;
    color: white;
    margin-top: 25px;
}